<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
	<Properties>
	    <Property name="logNm">mesSystem</Property>
	    <Property name="layoutPattern">%d [%t] %-5level %c(%M:%L) - %m%n</Property>
	</Properties>
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d %5p [%c] %m%n" />
        </Console>
        <!-- 
        <File name="file" fileName="./logs/file/mesSystem.log" append="true">
	       <PatternLayout pattern="%d %5p [%c] %m%n"/>
        </File>
         -->
        
        
        <RollingFile name="file" fileName="/log/${logNm}.log" filePattern="/log/logs/${logNm}_%d{yyyy-MM-dd}_%i.log">
            <PatternLayout pattern="${layoutPattern}" />
            <Policies>
		      <SizeBasedTriggeringPolicy size="10MB" /> <!-- 10MB 용량이 초과시 DefaultRolloverStrategy 정책만큼 넘버링 -->      
		      <TimeBasedTriggeringPolicy module="true" interval="1" /><!-- 일별 로그 파일 생성-->
            </Policies>
		    <DefaultRolloverStrategy max="500" fileIndex="min" /><!-- 롤링 파일 500개 까지 생성 -->
		</RollingFile>
  
    </Appenders>
    <Loggers>
        <Logger name="kr.co" level="DEBUG" additivity="false">
            <AppenderRef ref="console" />
            <!-- <AppenderRef ref="file"/> -->
        </Logger>
        <Logger name="egovframework" level="DEBUG" additivity="false">
            <AppenderRef ref="console" />
        </Logger>
        <Logger name="java.sqlonly" level="DEBUG" additivity="false">
            <AppenderRef ref="console" />
            <!-- <AppenderRef ref="file"/> -->
        </Logger>        
        <Logger name="java.sql" level="DEBUG" additivity="false">
            <AppenderRef ref="console" />
        </Logger>
          <!-- log SQL with timing information, post execution -->
        <Logger name="jdbc.sqltiming" level="DEBUG" additivity="false">
            <AppenderRef ref="console" />
            <!-- <AppenderRef ref="file"/> -->
        </Logger>
        <Logger name="org.springframework" level="DEBUG" additivity="false">
            <AppenderRef ref="console" />
        </Logger>
        <Root level="ERROR">
            <AppenderRef ref="console" />
        </Root>
    </Loggers>
</Configuration>
